{% extends '@EasyAdmin/page/content.html.twig' %}
{% trans_default_domain 'localhost:8081' %}

{% block content_title %}Привет!{% endblock %}

{% block main %}
  <div>Тут пока пусто</div>
{% endblock %}