# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# APP
/postgresqldb

# OS
.DS_Store

# Symfony
api/var/
api/vendor/
api/.env.local
api/.env.local.php
api/.env.*.local
api/config/secrets/prod/prod.decrypt.private.php
api/public/bundles/

# Vue
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.thumbs.db

# Quasar core related directories
frontend/.quasar

# Cordova related directories and files
frontend/src-cordova/node_modules
frontend/src-cordova/platforms
frontend/src-cordova/plugins
frontend/src-cordova/www

# Capacitor related directories and files
frontend/src-capacitor/www
frontend/src-capacitor/node_modules

# BEX related directories and files
frontend/src-bex/www
frontend/src-bex/js/core
