# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# APP
/postgresqldb

# OS
.DS_Store

# Symfony
api/var/
api/vendor/
api/.env.local
api/.env.local.php
api/.env.*.local
api/config/secrets/prod/prod.decrypt.private.php
api/public/bundles/

# Vue
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
